{% extends 'product_hunt/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row mt-3">
    <div class="col-md-12 post-side-margin-sm">
        <div class="row bg-white border border-muted p-3 mb-2">
            <div class="col-12 padding-left-lg-20p padding-right-lg-20p">
                <h1>Report Product</h1><hr>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ report_form | crispy }}
                    <button type="submit" class="btn btn-danger">Report</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}